body{
    color: #444;
    font: 80%/1.65 Verdana,"Geneva CE",lucida,'Microsoft YaHei',sans-serif;
    line-height: 1.5;
    background: #fff;
    color: #333;
    position: relative;
    font-size: 13px;
}